{% extends "base.html" %}
{% block title %}Energy Tracker{% endblock %}

{% block content %}
    <h1>Energy Tracker</h1>
    <p>Log daily consumption, set goals, receive tips, and view progress.</p>

    <div class="row">
        <div class="col-md-6">
            <h4>Add Energy Entry</h4>
            <form method="post">
                {{ entry_form.hidden_tag() }}
                <div class="mb-3">{{ entry_form.entry_date.label }}{{ entry_form.entry_date(class='form-control') }}</div>
                <div class="mb-3">{{ entry_form.kwh.label }}{{ entry_form.kwh(class='form-control') }}</div>
                <button class="btn btn-primary" type="submit">Add Entry</button>
            </form>
        </div>

{% endblock %}