{% extends "base.html" %}
{% block title %}Energy Tracker{% endblock %}

{% block content %}
    <h1>Energy Tracker</h1>
    <p>Log your daily consumption</p>

    <div class="row">
        <div class="col-md-6">
            <h4>Add Energy Entry</h4>
            <form method="post">
                {{ entry_form.hidden_tag() }}
                <div class="mb-3">
                    {{ entry_form.entry_date.label }}
                    {{ entry_form.entry_date(class='form-control') }}
                </div>
                <div class="mb-3">
                    {{ entry_form.kwh.label }}
                    {{ entry_form.kwh(class='form-control') }}
                </div>
                <div class="d-flex gap-2">
                    {{ entry_form.submit(class="btn btn-success") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}