{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <h1>Register</h1>
    

    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control" + (' is-invalid' if form.username.errors else '')) }}
            {% if form.username.errors %}
                <div class="invalid-feedback d-block">{{ form.username.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control" + (' is-invalid' if form.email.errors else '')) }}
            {% if form.email.errors %}
                <div class="invalid-feedback d-block">{{ form.email.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control" + (' is-invalid' if form.password.errors else '')) }}
            {% if form.password.errors %}
                <div class="invalid-feedback d-block">{{ form.password.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password2.label(class="form-label") }}
            {{ form.password2(class="form-control" + (' is-invalid' if form.password2.errors else '')) }}
            {% if form.password2.errors %}
                <div class="invalid-feedback d-block">{{ form.password2.errors[0] }}</div>
            {% endif %}
        </div>
        <div class="d-grid mb-3">
            {{ form.submit(class_='btn btn-primary') }}
        </div>
    </form>
    
{% endblock %}